<div id="admin-nav-div">
    <a href="/site-config" class="btn btn-primary btn-wide">Config</a>
    <a href="/page-template" class="btn btn-primary btn-wide">Templates</a>
    <a href="/pages" class="btn btn-primary btn-wide">Pages</a>
    <a href="/content" class="btn btn-primary btn-wide">Content</a>
    <a href="/manageUsers" class="btn btn-primary btn-wide">Users</a>
</div>