<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
    <script src="/javascripts/main.js" type="text/javascript"></script>
</head>

<body>
    <div id="wrap">
        <% include ../partials/header.ejs %>
            <div class="container">
                <% if (message.length> 0) { %>
                    <div class="alert alert-success">
                        <%=message %>
                    </div>
                    <% } %>
                        <h3><a href="/content/create/<%= page_id %>">Add Content</a></h3>
                        <% if(content !="" ){%>
                            <%- content %>
                        <%}else{%>
                            <h4><i>No Page Content added</i></h4>
                        <% } %>
            </div>
            <div id="push"></div>
    </div>
    <% include ../partials/footer.ejs %>
</body>

</html>