<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <div id="wrap">
        <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
             
           
              
        
        </div>
        
    </div>
</nav>
            <div class="container">
                <h3><%= title %></h3>
                <p>
                    <%=message %>
                </p>
            </div>
            <div id="push"></div>
    </div>
    <% include ../partials/footer.ejs %>
</body>

</html>