<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <div id="wrap">
        <% include ../partials/header.ejs %>
            <div class="container">

                <h3>You have not added any pages yet</h3>

            </div>
            <div id="push"></div>
    </div>
    <% include ../partials/footer.ejs %>
</body>

</html>