<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <div id="wrap">
        <% include ../partials/header.ejs %>
            <div class="container">

                <% if(searchFields !== null && searchFields != "" ){ %>
                    <div id="search-content-div" class="form-group form-inline">

                        <form role="form" action="/site/search" method="post" accept-charset="utf-8">

                            <select name="search_field" class="form-control">
                                <% for(var i=0 ; i < searchFields.length; i++){%>
                                    <option value="<%= searchFields[i] %>">
                                        <%=searchFields[i] %>
                                    </option>

                                <% } %>
                            </select>

                            <input type="hidden" name="page" value=<%=page._id %>>
                            <input type="text" name="search_value" class="form-control">
                            <button type="submit" class="btn btn-default">Search</button>

                        </form>
                    </div>

                <% } %>

                <%- content %>

            </div>
            <div id="push"></div>
    </div>
 <% include ../partials/footer.ejs %>
</body>

</html>