<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <div id="wrap">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header"></div>
            </div>
        </nav>
        <div class="container">
            <% if (message.length> 0) { %>
                <div class="alert alert-success">
                    <%=message %>
                </div>
                <% } %>
                    <h3>Add User</h3>
                    <form role="form" action="/sign-up" method="post" accept-charset="utf-8">
                         
                        
                        <div class="form-group">
                                                 <label for="email">Email:</label>
                                                <input type="text" class="form-control input-small" id="email" name="email">
                                            </div>
                                            <div class="form-group">
                                                 <label for="first_name">First Name:</label>
                                                <input type="text" class="form-control input-small" id="first_name" name="first_name">
                                            </div>
                                            <div class="form-group">
                                                 <label for="last_name">Last Name:</label>
                                                <input type="text" class="form-control input-small" id="last_name" name="last_name">
                                            </div>
                                            <div class="form-group">
                                                 <label for="name">Password:</label>
                                                 <input type="password" name="password" class="form-control input-small" id="password">
                                            </div>
                                            <div class="form-group">
                                                <label for="name">Confirm Password:</label>
                                                <input type="password" name="confirm-password" class="form-control input-small" id="confirm-password">
                                            </div>
                        <div class="form-group">
                            <input type="submit" class='btn btn-primary' value='Create Account' />
                        </div>
                        
                    </form>

        </div>
        <div id="push"></div>
    </div>
    <% include ../partials/footer.ejs %>
</body>

</html>